html {
    height: 100%;
    background-color: rgb(228,100,53);
}
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
a, a:link, a:visited, a:hover {
    color:white;   
    text-decoration:none;
    font-weight: 300;
}
.jumbotron {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -7em;
}
.logo-header {
    background-color: rgb(228,100,53);
}
.middle-body {
    background-color: #FFFFFF;
    font-weight: 400;
}
.nav-navbar-nav {
    padding: 20px;
    background:black;
    text-align: center;
}
.nav-navbar-nav li {
    display: inline;
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}
.nav-navbar-nav li a {
    padding: .3em 4em;
}
.nav-navbar-nav li a:hover{
    color:white;       
    text-decoration:none;
    background:rgb(228,100,53); 
}

.table-sortable tbody tr {
    cursor: move;
}
